<div class="container-sm d-flex justify-content-center align-items-center shadow p-3 mb-5 bg-white rounded vh-100">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-4 mb-4">
              <div class="d-flex flex-column align-items-center">
                <img class="mb-3" width="150px" src="assets\iconos\create.jpg" alt="" srcset="">
                <button type="button" class="btn btn-primary animate__animated" 
                (click)="agendarCita()"
                >Agendar Cita</button>
              </div>
            </div>
            <div class="col-sm-12 col-md-4 mb-4">
              <div class="d-flex flex-column align-items-center">
                <img class="mb-3" width="170px" src="assets\iconos\delete.jpeg" alt="" srcset="">
                <button type="button" class="btn btn-danger">Eliminar Cita</button>
              </div>
            </div>
            <div class="col-sm-12 col-md-4 mb-4">
              <div class="d-flex flex-column align-items-center">
                <img class="mb-3" width="150px" src="assets\iconos\consultar.jpg" alt="" srcset="">
                <button type="button" class="btn btn-success">Consultar Cita</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  
  
